*{
    font-family:sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color:rgb(250, 249, 249); ;
}
.nav1{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    background-color: rgb(250, 249, 249);
}
.logo{
    /* border: 1px solid; */
    width: 15%;
    margin: 5px;
}
.input{
    /* border: 1px solid; */
    margin: 5px;
    width: 75%;
}
.input input{
    width: 600px;
    margin: 10px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 3px;
}
.input button{
    width: 50px;
    height: 30px;
    background-color: rgb(89, 129, 248);
    border: 1px solid royalblue;
    border-radius: 5px;
}
.input button img{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}
.btn{
    /* border: 1px solid; */
    width: 8%;
    margin: 5px;
    padding-left: 30px;
    padding-top: 10px;
    
}
.btn button{
    background-color: white;
    border: none;
}    
#profile{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border:1px solid lightgray;
}
#img{
    width:30px;
    height: 30px;

}
.nav2{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    position:fixed;
    top: 60px;
    width: 100%;
    background-color: white;
    z-index: 100;
}
.logo2{
    /* border: 1px solid; */
    background-color:white;
    margin: 2px;
    width: 13%;
    padding-left: 30px;
    background-color: rgb(80, 218, 142);
}
#apps{
    color: white;
    font-size: 30px;

}
.logo2 >img{
    width: 30px;
    height: 40px;
    filter: invert(0%);
}
.input2{
    /* border: 1px solid; */
    margin: 5px;
    width: 73%;
    
}
.input2 li{
    display: inline;
    margin-left: 120px;
}
.btn2{
    /* border: 1px solid; */
    width: 8%;
    margin: 5px;
    padding-left: 30px;
    padding-top: 10px;
}
#question{
    width: 30px;
    height: 30px;
}
.btn2 button{
    border: none;
    background-color: white;
}
.list{
    /* border: 1px solid; */
    position:fixed;
    left: 0px;
    top: 123px;
    width: 237px;
}
.list1{
    /* border: 1px solid; */
    width: 235px;
    background-color: rgb(250, 250, 250);
}
#green{
    color: green;
    border-bottom: 1px solid lightgreen;
}

.list1 li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
}
.list2 li{
    list-style: none;
    padding: 10px;

}
.main{
    margin: auto;
    position: absolute;
    top:140px;
    left: 450px;
    border: 1px solid black;
    box-shadow: 6px 6px 6px lightgray;
}
.image{
    margin: 5px;
}
.one{
    margin: 5px;
    display: flex;
}
.info{
    /* border: 1px solid; */
    margin: 5px;
    padding: 5px;
    width:480px ;
}
#grey{
    color: grey;
}
.install{
    margin: 5px;
    /* border: 1px solid; */
}
.text{
    /* border: 1px solid; */
    padding-top: 50px;
    height: 30px;
}
.batn{
    /* border: 1px solid; */
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 60px;
}
.batn button{
    background-color: green;
    height: 30px;
    width: 60px;
    color: white;
    border-radius: 4px;
}
.para{
    /* border: 1px solid; */
    margin: 5px;
    width: 650px;
    padding: 5px;
    width: 828px;
}
.review{
    /* border: 1px solid; */
    display: flex;
    margin: 5px;
}
.span{
    /* border: 1px solid; */
    width: 80%;
    margin: 5px;
    padding: 10px;
}
.rev{
    /* border: 1px solid; */
    width: 150px;
    padding: 5px;

}
.rev button{
    background-color: white;
    color: black;
    height: 35px;
    width: 150px;
    border: 1px solid grey;
    border-radius: 4px;
}
.bars{
    display: flex;
    /* border: 1px solid; */

}
.number{
    /* border: 1px solid; */

}
.bar{
    /* border: 1px solid; */
}
#big{
    font-size: 50px;
}
#star{
    font-size: 30px;
}
.number{
    margin: 5px;
    padding: 40px;
}
.bar{
    padding: 20px;
    margin: 5px;
}
#lightgreen{
    background-color: lightgreen;
    height: 20px;
    width: 600px;
    border: none;
}
#cgreen{
    height: 20px;
    background-color: seagreen;
    width: 400px;
    border: none;
}
#yellow{
    width: 300px;
    height: 20px;
    background-color: yellow;
    border: none;
}
#orange{
    border: none;
    background-color: orange;
    width: 40px;
    height: 20px;
}
#red{
    border: none;
    background-color: red;
    height: 20px;
    width: 100px;
}
.profilepic{
    /* border: 1px solid; */
    display: flex;
}
.profilee{
    /* border: 1px solid; */
    margin: 5px;
    padding: 20px;
    width: 80%;

}
.profilee img{
    border-radius: 100px ;
}
.like{
    /* border: 1px solid; */
    margin: 5px;
    width: 20%;

}
.like img{
    width: 30px;
    height: 30px;
    padding-top: 40px;
    padding-left: 50px;
}
.paragraph{
    /* border: 1px solid; */
    margin: 5px;
    padding-left: 20px;
    width: 820px;
}
.addition{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;

}
.one3{
    /* border: 1px solid; */
    margin: 5px;
    width: 200px;
    padding: 10px;
}
.two{
    /* border: 1px solid; */
    margin: 5px;
    width: 200px;
    padding: 10px;
}
.three{
    /* border: 1px solid; */
    margin: 5px;
    padding: 10px;
}
.additional2{
    /* border: 1px solid; */
    display: flex;
}
.one2{
    /* border: 1px solid; */
    width: 200px;
    margin: 5px;
    padding: 10px;
}
.two2{
    /* border: 1px solid; */
    width: 200px;
    margin: 5px;
    padding: 10px;
}

.three2{
    /* border: 1px solid; */
    padding: 10px;
    margin: 5px;

}










